<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thanks for Clicking!</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> I'm an App so I like being clicked :)  </h1>
    <p> Your clicks are much appreciated!</p>
    <p> This App is built on the Flask framework ; everytime you click, python recieves an API call in the form of a GET request. <p>
      
    </p>I'm 'API with requests... GET it?!</p>

    {% endblock %}
  </body>
</html>