<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TOMS Web APP</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}


    <h1> Hello world! </h1>
    <a href=”/clickfunction”><input type=”button” value=”clickfunction”></a>
    <p> How are you today? </p>

    <div class="col-1-4 mobile-col-1-1">
          <div class="button"><a href="/mylink/">Click Me</a></div>
          </div>
    
    {% endblock %}
    
    

  </body>
</html>